/bin
/lib-compile-time/xjc-patch-for-implClass-and-list.jar
/lib-compile-time/xjc-patch-for-objectFactory-unchecked-cast-usage.jar
/lib-compile-time/xjc-property-listener-injector.jar
/lib-compile-time/xjc-property-access-plugin.jar
/doc/*.aux
/doc/*.log
/doc/*.out
/doc/.~lock*
/OrigamistEditor.jar
/OrigamistViewer.jar
/signapplet.bat
/signapplet.sh
/browser.bat
/browser.sh
/origami_editor.jnlp
/origami_viewer.jnlp
/remote.origami_editor.jnlp
/remote.origami_viewer.jnlp
/xjc-bin
